django==6.1
djangorestframework==3.18.0
django-cors-headers==4.9.0
djangorestframework-simplejwt
django-allauth[socialaccount]
dj-rest-auth[with_social]
google-generativeai
python-dotenv
Pillow
django-cryptography
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
